<table class="table">
	<tbody>
		<tr>
			<td>Introduction to Ruby on Rails</td>
			<td>Programming</td>
		</tr>
		<tr> 
			<td colspan="2">
				<a href="#" class="btn btn-primary" role="button">Add course</a>
			</td>
		</tr>
	</tbody>
</table>

